<section class="pt-xxlarge pb-small p-relative bg-dark-1">
    <div class="container">
        <div class="col-md-6 mx-auto text-center">
          <h1 class="xl mt-0 split-lines color-light">{{ title }}</h1>
          <p class="split-lines color-gray">{{ description }}</p>
        </div>
    </div>
</section>