.bg-wall {
    background-image: url("/assets/img/hero/wall.png");
    background-color: #091119a6;
    background-blend-mode: multiply;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.footer-bottom {
    border-top: 1px solid #9993;
}

.footer-list li {
    list-style: none;
}