.hero {
  position: relative;
  background-image: url("/assets/img/hero/hero7.png")!important; 
  background-size: cover!important;
  background-position: center!important;
  background-color: #000000ab!important;
  background-blend-mode: multiply;
  z-index: 1;
}
.hero-img {
  position: absolute;
  top: 5em;
  right: 0;
  width: 29vw;
  transform: rotate(-16deg);
  z-index: 1;
}
.hero-card {
  position: relative;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.hero-card-shape-svg {
  width: 75%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-image-cover .image-wrapper {
  height: 100%;
}

@keyframes upDown {
  0% {
    transform: translateY(0) rotate(0deg) rotateY(0deg);
  }
  70% {
    transform: translateY(.8em) rotate(3deg) rotateY(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg) rotateY(0deg);
  }
}

.hero-card-content-image {
  position: absolute;
  top: 50%;
  right: 8%;
  width: 28%;
  transform: translateY(-50%) rotate(21deg);
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.slider-hero {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.slider-hero .slide-track {
  display: flex;
  gap: 1em;
  width: 222em;
}

.slider-left .slide-track {
  -webkit-animation: scrollLeft 15s linear infinite;
          animation: scrollLeft 15s linear infinite;
}

.slider-right .slide-track {
  -webkit-animation: scrollRight 15s linear infinite;
          animation: scrollRight 15s linear infinite;
}

.slider-hero .slide img {
  width: 17.5em
}

.avatar {
  display: inline-block;
  width: 70px;
  margin-right: -5%
}

@media(min-width:458px) {
  .hero-img {
    top: 4.4em;
    width: clamp(175px, 28vw, 190px)
  }
}

@media(min-width:767px) {
  .hero-img {
    top: 4.4em;
    width: clamp(50px, 29vw, 330px);
  }
}

@media(min-width:1024px) {
  .hero-card {
    border-radius: 25px;
  }
  .avatar {
    width: 90px;
    margin-bottom: 5px;
  }
  .hero-card-content-image {
    top: 35%;
    right: 4%;
    width: 28%;
    transform: translateY(-50%) rotate(21deg);
  }
}

@media(min-width:1200px) {
  .hero-img {
    right: 2em;
    top: 4.4em;
    width: clamp(200px, 18vw, 275px)
  }
}