</main>

<footer class="site-footer" id="kontakt">
  <div class="footer-parallax">
    <div class="container">
       <div class="bg-wall pt-xxlarge pb-xxlarge">
       <ul class="footer-list">
        <li class="color-gray">
          <a href="#">
biuro@uneedev.pl
          </a>
        </li>
        <li class="color-gray">
Uneedev sp. z o.o. <br>
ul. Mieczysława Pożaryskiego 32 <br>
04-703 Warszawa
        </li>
       </ul>
       </div>
    </div>
  </div>
</footer>

{% include 'partials/foot.njk' %}