</main>

<footer class="site-footer" id="kontakt">
  <div class="footer-parallax">
    <div class="container">
       <div class="bg-wall pt-xlarge">

        <div class="row pb-medium">
          <div class="col-md-6">
              <img class="footer-logo" src="/assets/img/logo/logo-light.png" alt="">
                     <ul class="footer-list">
        <li class="color-gray">
          <a href="mailto:biuro@uneedev.pl">
biuro@uneedev.pl
          </a>
        </li>
        <li class="color-gray">
Uneedev sp. z o.o. <br>
ul. Mieczysława Pożaryskiego 32 <br>
04-703 Warszawa
        </li>
       </ul>
          </div>
          <div class="col-md-6">
            <div class="d-md-flex align-items-end justify-content-end h-100 ">
                        <a href="https://www.facebook.com/p/Uneedev-61564228516843" title="Facebook" class="svg-social-link magnetic" target="_blank" rel="nofollow noopener" data-strength="40">
                            <svg width="22" height="22" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M48 8C25.908 8 8 25.908 8 48C8 68.052 22.772 84.612 42.02 87.504V58.6H32.124V48.084H42.02V41.088C42.02 29.504 47.664 24.42 57.292 24.42C61.904 24.42 64.34 24.76 65.496 24.916V34.092H58.928C54.84 34.092 53.412 37.968 53.412 42.336V48.084H65.392L63.768 58.6H53.416V87.588C72.94 84.944 88 68.248 88 48C88 25.908 70.092 8 48 8Z" fill="var(--color-light-1)" />
                            </svg>
                        </a>
                        <a href="https://www.linkedin.com/company/80634224" title="Linkedin" class="svg-social-link magnetic" target="_blank" rel="nofollow noopener" data-strength="40">
                            <svg width="17" height="17" viewBox="0 0 20 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-180.000000, -7479.000000)" fill="var(--color-light-1)">
                                        <g id="icons" transform="translate(56.000000, 160.000000)">
                                            <path d="M144,7339 L140,7339 L140,7332.001 C140,7330.081 139.153,7329.01 137.634,7329.01 C135.981,7329.01 135,7330.126 135,7332.001 L135,7339 L131,7339 L131,7326 L135,7326 L135,7327.462 C135,7327.462 136.255,7325.26 139.083,7325.26 C141.912,7325.26 144,7326.986 144,7330.558 L144,7339 L144,7339 Z M126.442,7323.921 C125.093,7323.921 124,7322.819 124,7321.46 C124,7320.102 125.093,7319 126.442,7319 C127.79,7319 128.883,7320.102 128.883,7321.46 C128.884,7322.819 127.79,7323.921 126.442,7323.921 L126.442,7323.921 Z M124,7339 L129,7339 L129,7326 L124,7326 L124,7339 Z">
                            
                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
            </div>
          </div>
        </div>


        <div class="footer-bottom pt-xsmall pb-xxsmall text-md-center">
            <p class="small op-5">© 2025 Uneedev</p>
        </div>


       </div>
    </div>
  </div>
</footer> 

{% include 'partials/foot.njk' %}