</div>
</div>

<script src="/assets/js/libs/split-text.js"></script>
<script src="/assets/js/libs/swup.js"></script>
<script src="/assets/js/libs/swup-progress.js"></script>
<script src="/assets/js/libs/swup-body.js"></script>
<script src="/assets/js/libs/gsap.js"></script>
<script src="/assets/js/libs/scroll-trigger.js"></script>
<script src="/assets/js/libs/lenis.js"></script> 
<script src="/assets/js/animations.js"></script>
<script src="/assets/js/script.js"></script>
<script>
  window.addEventListener('load', function() {
  appMain(); animationMain()
  });
  const swup = new Swup({
    animateHistoryBrowsing: true, 
    plugins: [
      new SwupProgressPlugin(),
      new SwupBodyClassPlugin()
    ]
  });
  swup.hooks.on('page:view', () => {
       appMain(); animationMain()
  }, { before: true });
</script> 
<script src="/assets/js/cookieconsent.js" defer></script>
<script src="/assets/js/cookieconsent-init.js" defer></script>


<!-- SKRYPT -->
<script>
  // Konfiguracja Bookero
  var bookero_config = {
    id: '9UmCxEbmleIB',
    container: 'bookero',
    type: 'calendar',
    position: '',
    plugin_css: true,
    lang: 'pl'
  };

  // Załaduj widget
  (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://cdn.bookero.pl/plugin/v2/js/bookero-compiled.js';
    d.body.appendChild(s);
  })();

  // Logika popupa
  document.addEventListener('DOMContentLoaded', function() {
    const overlay = document.getElementById('bookero-overlay');
    const openBtn = document.getElementById('open-bookero');
    const closeBtn = document.querySelector('.bookero-close');

    openBtn.addEventListener('click', () => {
      overlay.classList.add('active');
      document.body.style.overflow = 'hidden';
    });

    closeBtn.addEventListener('click', () => {
      overlay.classList.remove('active');
      document.body.style.overflow = '';
    });

    overlay.addEventListener('click', (e) => {
      if (e.target === overlay) {
        overlay.classList.remove('active');
        document.body.style.overflow = '';
      }
    });
  });
</script>

  
</body>
</html>