<section class="banner pt-xlarge pb-xlarge bg-accent-2">
  <div class="container">
     <div class="w-md-75 mx-auto text-center">
        <div class="d-flex justify-content-center">
          <p class="txt-border my-0 color-gray fade-in">
          Jesteś
          </p>
        </div>
        <h2 class="xxl mt-1 color-light split-chars">
          Gotowy na więcej leadów?
        </h2>
        <p class="medium my-2 color-gray split-lines">
          Umów bezpłatną konsultację i sprawdź, ile leadów możemy dla Ciebie wygenerować
        </p>
        <p class="color-gray split-lines">
          Podczas 45-minutowej konsultacji poznamy Twój biznes, określimy potencjał kampanii outbound w Twojej branży i przedstawimy konkretny plan działania. Bez zobowiązań, bez ukrytych kosztów.
        </p>
        <div class="fade-in">
            <a href="/wycena/" title="bezpłatna wycena" class="button-anim magnetic"
                  data-strength="60">
          <div class="button-anim-text">
            <span>Zarezerwuj termin konsultacji</span>
            <span>Zarezerwuj termin konsultacji</span>
          </div>

          <div class="button-anim-icon">
            <svg class="icon-link" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
              <g><path fill="var(--color-light-1)" d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z"/><polygon fill="var(--color-light-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "/></g>
            </svg>
          </div>
        </a>
        </div>
        <p class="small mt-4 color-gray split-lines">
          Odpowiadamy w ciągu 24 godzin w dni robocze
        </p>
     </div>
  </div>
</section>

<style>
  .banner {
    position: relative;

  background-blend-mode: multiply;
  background-size: cover!important;
  background-position: center!important;
  z-index: 1;
  }
</style>