<section class="pt-large pb-large bg-dark-1" id="rezultaty">
  <div class="container p-relative">
            <h2 class="xl color-light mt-0 split-chars">
                Najpierw rezultaty <br>potem decyzja
            </h2>
            <div class="pt-xsmall"></div>
            <div class="line-x mt-4"></div>
            <div class="row g-0">
              <div class="col-md-3">
                <div class="counter-card p-5">
                 <h3 class="xl mt-2 color-gray split-lines">
                  3800+
                 </h3>
                 <p class="color-light split-chars">
                  dostarczonych leadów
                 </p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="counter-card p-5">
                <h3 class="xl mt-2 color-gray split-lines">
                  200+ 
                 </h3>
                  <p class="color-light split-chars">
                  przeprowadzonych kampanii outbound
                 </p>
                 </div>
              </div>
              <div class="col-md-3">
                <div class="counter-card p-5">
                <h3 class="xl mt-2 color-gray split-lines">
                  30+ 
                 </h3>
                  <p class="color-light split-chars">
                  zadowolonych klientów
                 </p>
                 </div>
              </div>
              <div class="col-md-3">
                <div class="counter-card p-5">
                <h3 class="xl mt-2 color-gray split-lines">
                  70% 
                 </h3>
                  <p class="color-light split-chars">
                  klientów przedłuża współpracę po programie pilotażowym
                 </p>
                 </div>
              </div>
            </div>
  </div>
</section>

<style>
   .counter-card {
    border-left: 1px solid #9994;
   }
</style>