<section class="hero pt-xxlarge pb-small">
  <div class="pt-xlarge"></div>
  <div class="pt-md-xlarge"></div>
  <div class="pt-md-xxlarge"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="xxl mt-1 color-light split-chars">
          Pozyskujemy nowych klientów dla firm
        </h1>
      </div>
      <div class="col-md-4">
        <p class="color-gray split-lines">
          Docieramy do firm, które właśnie teraz potrzebują Twoich rozwiązań. Wzbudzamy zainteresowanie, kwalifikujemy potrzeby, przekazujemy ciepłe kontakty. Ty skupiasz się na tym, co robisz najlepiej - zamykaniu transakcji.
        </p>
      </div>
    </div>
  </div>
</section>

