<section class="hero pt-xxlarge pb-xxlarge">
  <div class="pt-large"></div>

  <div class="container">

    <div class="col-md-9 mx-auto text-center">
        <div class="d-flex justify-content-center">
          <p class="txt-border my-0 color-gray fade-in">
            Skutecznie
          </p>
        </div>
        <h1 class="xxl mt-1 color-light split-chars">
          Napędzamy możliwości sprzedażowe Twojej firmy
        </h1>
    </div>
    <div class="col-md-7 mx-auto text-center">
        <p class="color-gray split-lines">
          Docieramy do firm, które właśnie teraz potrzebują Twoich rozwiązań. Wzbudzamy zainteresowanie, kwalifikujemy potrzeby, przekazujemy ciepłe kontakty. Ty skupiasz się na tym, co robisz najlepiej - zamykaniu transakcji.
        </p>
        <div class="fade-in">
        <a href="#wspolpraca" title="bezpłatna wycena" class="button-anim magnetic"
                  data-strength="60">
          <div class="button-anim-text">
            <span>Proces współpracy</span>
            <span>Proces współpracy</span>
          </div>

          <div class="button-anim-icon">
            <svg class="icon-link" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
              <g><path fill="var(--color-light-1)" d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z"/><polygon fill="var(--color-light-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "/></g>
            </svg>
          </div>
        </a>
        </div>
    </div>

  </div>
</section>

