<section class="loop-text bg-dark-1" data-scroll-section>
<div class="line-x"></div>
<div class="loop-holder pt-medium pb-medium fade-in">
  <div class="loop-holder__text"> Zyskaj przewagę dzięki technologii • </div>
  <div class="loop-holder__text"> Zyskaj przewagę dzięki technologii • </div>
  <div class="loop-holder__text"> Zyskaj przewagę dzięki technologii • </div>
</div>
<div class="line-x"></div>
</section>