<section class="offer pt-small pb-large bg-dark-1" id="wspolpraca">
  <div class="container">
      <div class="row g-5">
      <div class="col-md-6">
        <h2 class="h1 mt-3 color-light split-chars">
          Proces współpracy
        </h2>
      </div>
      <div class="col-md-6">
        <p class="color-light split-chars">
         Wierzymy w partnerstwo oparte na wynikach - <b>zacznij od programu pilotażowego bez ryzyka finansowego</b>
        </p>
      </div>
    </div>
    <div class="line-x my-5"></div>
    <div class="offer-card">
    <div class="row g-5">
      <div class="col-md-6">
        <p class="fade-in color-accent-1">01</p>
        <h3 class="h2 color-light split-chars">
          Konsultacja strategiczna
        </h3>
      </div>
      <div class="col-md-6">
        <ul class="ud-list">
          <li class="color-gray fade-in">
            Przeprowadzamy 45-minutową sesję diagnostyczną Twojego procesu sprzedaży B2B 
          </li>
          <li class="color-gray fade-in">
            Analizujemy Twój model biznesowy, strukturę przychodów i dotychczasowe kanały pozyskiwania leadów 
          </li>
          <li class="color-gray fade-in">
            Identyfikujemy niewykorzystany potencjał w Twojej branży i optymalne grupy docelowe 
          </li>
          <li class="color-gray fade-in">
            Omawiamy sprawdzone praktyki w kampaniach outbound w Twoim sektorze 
          </li>
          <li class="color-gray fade-in">
            Otrzymujesz wstępną rekomendację strategii dopasowaną do Twojej specyfiki
          </li>
        </ul>
      </div>
    </div>
    </div>
    <div class="line-x my-5"></div>
    <div class="offer-card">
    <div class="row g-5">
      <div class="col-md-6">
        <p class="fade-in color-accent-1">02</p>
        <h3 class="h2 color-light split-chars">
          Analiza i projektowanie kampanii
        </h3>
      </div>
      <div class="col-md-6">
        <ul class="ud-list">
          <li class="color-gray fade-in">
            Wysyłamy kompleksowy formularz strategiczny do wypełnienia przez Twój zespół 
          </li>
          <li class="color-gray fade-in">
            Przeprowadzamy szczegółową analizę Twojej grupy docelowej i branży
          </li>
          <li class="color-gray fade-in">
            Projektujemy persony odbiorców i mapujemy ich ścieżki decyzyjne
          </li>
          <li class="color-gray fade-in">
            Opracowujemy spersonalizowane sekwencje komunikacji dla każdego segmentu 
          </li>
          <li class="color-gray fade-in">
            Prezentujemy kompletną strategię kampanii outbound na dedykowanej sesji przed uruchomieniem
          </li>
        </ul>
      </div>
    </div>
    </div>
    <div class="line-x my-5"></div>
    <div class="offer-card">
    <div class="row g-5">
      <div class="col-md-6">
        <p class="fade-in color-accent-1">03</p>
        <h3 class="h2 color-light split-chars">
          Program pilotażowy (4 tygodnie)
        </h3>
      </div>
      <div class="col-md-6">
        <ul class="ud-list">
          <li class="color-gray fade-in">
            Uruchamiamy kampanię testową w modelu cost-coverage (pokrywasz tylko koszty operacyjne)
          </li>
          <li class="color-gray fade-in">
            Realizujemy kampanię outbound w skali dopasowanej do wielkości Twojej grupy docelowej
          </li>
          <li class="color-gray fade-in">
            Monitorujemy kluczowe metryki: ilość odpowiedzi, liczbę zakwalifikowanych leadów oraz wydźwięk kampanii
          </li>
          <li class="color-gray fade-in">
            Przeprowadzamy cotygodniową kalibrację komunikatów na podstawie danych zwrotnych
          </li>
          <li class="color-gray fade-in">
            Dostarczamy pierwsze zakwalifikowane leady już w pierwszym tygodniu programu
          </li>
        </ul>
      </div>
    </div>
    </div>
    <div class="line-x my-5"></div>
    <div class="offer-card">
    <div class="row g-5">
      <div class="col-md-6">
        <p class="fade-in color-accent-1">04</p>
        <h3 class="h2 color-light split-chars">
          Raport i decyzja o kontynuacji
        </h3>
      </div>
      <div class="col-md-6">
        <ul class="ud-list color-gray">
          <li class="color-gray fade-in">
Prezentujemy kompleksowy raport z programu pilotażowego: liczba pozyskanych leadów, wskaźniki konwersji, jakość kontaktów 
          </li>
          <li class="color-gray fade-in">
Przedstawiamy rekomendacje optymalizacyjne na podstawie zebranych danych
          </li>
          <li class="color-gray fade-in">
            Omawiamy warunki długoterminowej współpracy przy zachowaniu pełnej transparentności cenowej 
          </li>
          <li class="color-gray fade-in">
            Decydujesz o kontynuacji na podstawie realnych wyników, nie obietnic
          </li>
        </ul>
      </div>
    </div>
    </div>
        <div class="line-x my-5"></div>
       <div class="text-center pt-xsmall fade-in">
         <a href="/wycena/" title="bezpłatna wycena" class="button-anim magnetic"
                  data-strength="60">
          <div class="button-anim-text">
            <span>Bezpłatna wycena</span>
            <span>Bezpłatna wycena</span>
          </div>

          <div class="button-anim-icon">
            <svg class="icon-link" width="18" height="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
              <g><path fill="var(--color-accent-1)" d="M83.3,79.7c0,2-1.6,3.6-3.6,3.6H20.3c-2,0-3.6-1.6-3.6-3.6V20.3c0-2,1.6-3.6,3.6-3.6h23.4V9.5H20.3   c-6,0-10.8,4.8-10.8,10.8v59.4c0,6,4.8,10.8,10.8,10.8h59.4c6,0,10.8-4.8,10.8-10.8V56.3h-7.2V79.7z"/><polygon fill="var(--color-accent-1)" points="56.3,9.5 56.3,16.7 78.2,16.7 49.9,45 55,50.1 83.3,21.8 83.3,43.7 90.5,43.7 90.5,9.5  "/></g>
            </svg>
          </div>
        </a>
       </div>
  </div>
</section>




<style>
  .hero {
    background: url("assets/img/hero/hero.png");
  }
</style>