<section class="bg-light-1 pt-medium pb-large" id="opinie">
    <div class="container">
        <div class="row pb-small">
          <div class="col-md-6">
            <h2 class="xl mt-3 split-chars">
                Opinie klientów
            </h2>
          </div>
          <div class="col-md-6">
            <p class="split-lines">
              Pomoglismy zrealizować cele biznesowe wielu firmom, małym i dużym. Dobre opinie to dla nas najlepsza nagroda
            </p>
          </div>
        </div>
        <div class="row g-3">
            {% for post in collections.reviews.slice(0, 12)%}
                <div class="col-md-6 col-xl-4 fade-in">
                    <div class="shadow-1 p-4 bg-light-2">
                    <div class="review-card d-md-flex flex-column justify-content-between h-100">
                        <div class="opinion-content">
                            <img src="{{ post.data.clientlogo }}" alt="">
                            <p class="mt-0 mb-3">
                                {{ post.data.review }}
                            </p>
                        </div>
                        <div class="row g-3">
                            <div class="col-12 py-2">
                                <div class="line-x"></div>
                            </div>
                            <div class="col-auto">
                                <p class="h4 my-0">
                                    {{ post.data.title }}
                                </p>
                                <p class="my-1">
                                    {{ post.data.client }}
                                </p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .opinion-content img {
        width: 180px;
        margin-bottom: 15px;
    }
    @media(min-width:767px) {
        .review-card {
            min-height: 380px;
        }
    }
</style>